@import './../../shared/styles/colors.scss';

.boardgame-container + .boardgame-container{
  margin-top: 20px;
  border-top: 2px solid $gray;
  padding-top: 20px;
}

.boardgame-container {
  display: flex;
  min-height: 100px;
  max-height: 100px;
}

.boardgame-image {
  object-fit: scale-down;
  width: 150px;
}

.boardgame-description {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid $gray;
}

.boardgame-name {
  color: $dark-pink;
  font-weight: 600;
}

.boardgame-extra-details {
  font-size: calc(2px + 1.5vmin);
  line-height: 20px;
}