@import './../../shared/styles/colors.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $dark-fuschia;
  font-size: 15px;
  width: 170px;
  padding: 0;
  margin: 0;

  li {
    display: block;
  }
}

.app-name {
  font-weight: 900;
  font-size: 21px;
  border-bottom: 1px solid;
  padding-bottom: 12px;
  padding-top: 6px;
  margin: 13px;
}

.sidebar-item {
  margin-left: 10px;
  padding: 10px;
}

.active {
  background-color: #1a1a1d;
}