@import './../../shared/styles/colors.scss';

.boardgame-container + .boardgame-container{
  margin-top: 20px;
  border-top: 2px solid $gray;
  padding-top: 20px;
}

.boardgame-container {
  display: inline-flex;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
}

.boardgame-image, .boardgame-description, .boardgame-price {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid $gray;
}

.boardgame-image {
  object-fit: scale-down;
  min-width: 150px;
  max-width: 150px;
}

.boardgame-description {
  flex: 2
}

.boardgame-name {
  color: $dark-pink;
  font-weight: 600;
  margin-bottom: 10px;;
}

.boardgame-extra-details {
  font-size: calc(2px + 1.5vmin);
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.grid-item {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  padding: 0 10px;
}

.grid-item:nth-child(1) {
  padding-left: 0px;
}

.grid-item:nth-child(n+4) {
  padding-right: 0px;
  min-width: 70px;
}

.grid-item span:nth-child(1) {
  color: #3c9653;
}

.grid-item + .grid-item {
  border-left: 1px solid $gray;
}

.boardgame-price {
  width: 125px;
  color: #C3073F;
  display: flex;
  flex-direction: column;
  a {
    color: $dark-pink; 
  }
}

.price {
  display: flex;
  flex-direction: column;
}

.unknown-price {
  text-align: center;
  font-size: 17px;
  color: white;
}

.price-header {
  font-size: 17px;
  color: #c3073f;
  font-weight: 700;
  margin-bottom: 10px;
}

.best-available-price-header {
  font-size: 14px;
  color: white;
}

.add-to-wishlist-button {
  background-color: $dark-pink;
  border: 2px solid $light-gray;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 700;
  padding: 5px;
  color: white;
  cursor: pointer;
}