@import './shared/styles/colors.scss';

.app {
  background-color: $light-black;
  min-height: 100vh;
  display: flex;
  font-size: calc(5px + 2vmin);
  color: white;
  justify-content: center;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: 170px;
  height: 54px;
  background-color: $gray;
}

.content-container {
  margin-left: 170px;
  margin-top: 48px;
  padding: 20px;
}